// function insert() {
    //   $("#GDL").append("<p>Hi</p>");
    // }

    // Inserting row
    // function insertGDLVersion() {
    //   var table = document.getElementById("table1");
    //   console.log(table);

    //   var row = table.insertRow(2);

    //   var cell1 = row.insertCell(0);
    //   var cell2 = row.insertCell(1);

    //   cell1.innerHTML = "test1";
    //   cell2.innerHTML = "test2";
    //}

    // function insertCFL(){
    //   document.getElementById("table1").insertRow(3).innerHTML = '<tr><td>Hi</td></tr>';
    // }

    // function insertCFL() {
    //   $("<tr><td>Hi</td></tr>").insertAfter($("#CFL"))
    // }

    // Hide and Show elements
    // $(document).ready(function () {
    //   $("#hide").click(function () {
    //     $("p").hide();
    //   });
    //   $("#show").click(function () {
    //     $("p").show();
    //   });
    // });

    // Toggle Class
    // $(document).ready(function () {
    //   $("button").click(function () {
    //     $("p").toggleClass("main");
    //   });
    // });

    // iReconToggle
    // function toggleiRecon(){
    //   $("#iRecon").toggleClass("hidden")
    // }

    <a class="btn text-light dropdown-toggle" href="/products" role="button" id="dropdownProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Products
      </a>